<div class="category-head">
  <h3 class="head-title">Categories</h3>
  <div class="spacer"></div>
  <button mat-button class="add-category-button">
    <mat-icon>add</mat-icon>
    Add Category
</button>
</div>
<div class="container responsive-grid">
  <mat-card *ngFor="let card of cards">
    <img mat-card-image [src]="card.imageUrl" />
    <mat-card-content>
      <h3>
        {{ card.title }}
      </h3>
      <p>
        {{ card.itemNumbers }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
