<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

</style>

<div class="base-layout-container">
  <app-header></app-header>
  <div class="container-sidenav">
    <mat-sidenav-container [autosize]="true">
      <mat-sidenav mode="side" [opened]="true">
        <mat-list>
          <a mat-list-item routerLink="/home">
            <div class="center-flex">
              <mat-icon class="material-icons-outlined">home</mat-icon>
              <span matline>Dashboard</span>
            </div>
          </a>
          <a mat-list-item routerLink="/orders">
            <div class="center-flex">
              <mat-icon class="material-icons-outlined">toc</mat-icon>
              <span matline>Orders</span>
            </div>
          </a>
          <a mat-list-item routerLink="/products" routerLinkActive="active" >
            <div class="center-flex">
              <mat-icon class="material-icons-outlined">sell</mat-icon>
              <span matline>Products</span>
            </div>
          </a>
          <a mat-list-item routerLink="/categories" [routerLinkActive]="['is-active']" >
            <div class="center-flex">
              <mat-icon class="material-icons-outlined">folder</mat-icon>
              <span matline>Categories</span>
            </div>
          </a>
          <a mat-list-item routerLink="/customers">
            <div class="center-flex">
              <mat-icon class="material-icons-outlined">people</mat-icon>
              <span matline>Customers</span>
            </div>
          </a>
          <a mat-list-item routerLink="/reports">
            <div class="center-flex">
              <mat-icon class="material-icons-outlined">stacked_line_chart</mat-icon>
              <span matline>Reports</span>
            </div>
          </a>
          <a mat-list-item routerLink="/coupons">
            <div class="center-flex">
              <mat-icon class="material-icons-outlined">chat</mat-icon>
              <span matline>Coupons</span>
            </div>
          </a>
          <a mat-list-item routerLink="/inbox">
            <div class="center-flex">
              <mat-icon class="material-icons-outlined">chat</mat-icon>
              <span matline>Inbox</span>
            </div>
          </a>
          <div class="sub-list">Other Information</div>
          <a mat-list-item routerLink="/knowledgebase">
            <div class="center-flex">
              <mat-icon class="material-icons-outlined">chat</mat-icon>
              <span matline>Knowledge Base</span>
            </div>
          </a>
          <a mat-list-item routerLink="/productupdates">
            <div class="center-flex">
              <mat-icon class="material-icons-outlined">chat</mat-icon>
              <span matline>Product Updates</span>
            </div>
          </a>
          <div class="sub-list">Other Information</div>
          <a mat-list-item routerLink="/personalsettings">
            <div class="center-flex">
              <mat-icon class="material-icons-outlined">chat</mat-icon>
              <span matline>Personal Settings</span>
            </div>
          </a>
          <a mat-list-item routerLink="/globalsettings">
            <div class="center-flex">
              <mat-icon class="material-icons-outlined">chat</mat-icon>
              <span matline>Global Settings</span>
            </div>
          </a>
        </mat-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
